*.com
1.TXT 2.TXT asm_31.asm Assembly autorun.bat B.COM boot_hello.asm caps_internets compile.bat danya E.COM ega.asm get.asm GET.COM homework2.7z keys.7z keys.asm KEYS.COM lol.asm ms_int_sample.asm notes.txt README.md set_.asm SET_.COM tanya T.COM test.asm tsr01.asm tsr_48.asm tsr_work_big.asm v.asm V.COM vcool.asm v_cur.asm V_CUR.COM v_ega.asm video2.asm video.asm video_cur.asm video_internets.asm video_marina.asm video_working!!.asm vsmpl.asm v_table.asm v_test.asm новое ДЗ
